<a href="https://colab.research.google.com/github/Edgar-La/Machine_Learning/blob/main/Covariance_Matrix/Covariance_matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Section to define the functions

Generate a 10 rows and 5 columns matrix. With random integer numbers (1,100).

In [20]:
import pandas as pd
import numpy as np

In [21]:
#Generate a random matrix using numpy
def generate_random_matrix(rows, cols, min, max):
  return np.random.randint(min,max,(rows,cols))

In [35]:
#Open a csv file with a random matrix
def open_file(name_file):
  return  pd.read_csv(name_file, header=None)

In [37]:
#Convert pandas datframe to numpy matrix
def dataframe_to_matrix(df):
  return np.array(df)

In [48]:
#Create the covariance matrix
#Notice that I use matrix.T, where matrix.T is the transpose matrix
def covariance_matrix(matrix):
  return np.cov(matrix.T)

In [54]:
#Convert the numpy matrix to dateframe
def covariance_matrix_to_df(covariance_matrix):
  return pd.DataFrame(covariance_matrix)

In [56]:
#Save the dataframe to csv file
def df_to_csv(covariance_matrix_df, name_file):
  covariance_matrix_df.to_csv(name_file,index = False, header = False)

## Section to call the functions

In [31]:
#matrix = generate_random_matrix(10, 5, 1, 100)
#matrix

In [36]:
df = open_file('Random_matrix.csv')
df

    0   1   2   3   4
0  55  36  51  36  75
1  45  17  32  66  76
2  85  88  48  59  71
3  14  86  93  42  81
4  68  12  93  65  13
5  92  72  16  27  16
6  30  56   7  44   7
7  67  23  64  28  27
8  43  94  65  72  66
9  35  52  70  41  72

In [38]:
matrix = dataframe_to_matrix(df)
matrix

array([[55, 36, 51, 36, 75],
       [45, 17, 32, 66, 76],
       [85, 88, 48, 59, 71],
       [14, 86, 93, 42, 81],
       [68, 12, 93, 65, 13],
       [92, 72, 16, 27, 16],
       [30, 56,  7, 44,  7],
       [67, 23, 64, 28, 27],
       [43, 94, 65, 72, 66],
       [35, 52, 70, 41, 72]])

In [49]:
covariance_matrix = covariance_matrix(matrix)
covariance_matrix

array([[ 611.82222222,  -74.48888889, -179.62222222,  -49.77777778,
        -274.06666667],
       [ -74.48888889,  947.6       ,  -45.15555556,   25.11111111,
         273.4       ],
       [-179.62222222,  -45.15555556,  855.65555556,  104.55555556,
         289.37777778],
       [ -49.77777778,   25.11111111,  104.55555556,  266.22222222,
         128.88888889],
       [-274.06666667,  273.4       ,  289.37777778,  128.88888889,
         927.15555556]])

In [55]:
covariance_matrix_df = covariance_matrix_to_df(covariance_matrix)
covariance_matrix_df

            0           1           2           3           4
0  611.822222  -74.488889 -179.622222  -49.777778 -274.066667
1  -74.488889  947.600000  -45.155556   25.111111  273.400000
2 -179.622222  -45.155556  855.655556  104.555556  289.377778
3  -49.777778   25.111111  104.555556  266.222222  128.888889
4 -274.066667  273.400000  289.377778  128.888889  927.155556

In [57]:
df_to_csv(covariance_matrix_df, 'Covariance_matrix.csv')